
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e4e4e4;
}

tr{
  display: flex;
  gap: 18px;
  font-size: 20px;
}

h1, h2{
  text-align: center;
  font-weight: 100;
}

.cursor{
  cursor: pointer;
}

#square-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

#square{
  width: 255px;
  height: 255px;
  background-color: black;
  
}